
html
  head
    title Liste des Meubles
    link(rel='stylesheet', href='/node_modules/bootstrap.min.css')  // Assurez-vous que le chemin est correct
    script(src='/node_modules/bootstrap.bundle.min.js')

  body
    each meuble in meubles
      div
        h2 Nom du Meuble: #{meuble.nom}
        p Catégorie du Meuble: #{meuble.categorie}
        p Matériaux du Meuble: 
          each matiere in meuble.materiaux
            | #{matiere}
          br
        p Mots-clés du Meuble: #{meuble.motsCles.join(', ')}
        br
      br
      